@using CarMobile.Model.Entity
@model List<CarModel>

@foreach (var item in Model)
{
    <div class="col-xs-12 car-item pull-left">
        <div class="left-container pull-left">
            <img class="img-responsive" @*src="~/Images/Cars_2046_1163/1.jpg"*@ data-original="../Images/Cars_2046_1163/1.jpg" />
        </div>
        <div class="right-container pull-left">
            <span class="car-type">Xe đã sử dụng (2016)</span> <br />
            <span class="car-brand">Toyota - Vios</span> <br />
            <span class="label label-success">362 Triệu</span>
            <span class="label label-default">Hà Nội</span>
        </div>
    </div>
}