@{
    ViewBag.Title = "Index";
}
@section Css{
    <link href="~/Content/Apps/home.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/Libs/LazyLoad/jquery.lazyload.min.js"></script>    
    <script src="~/Scripts/Apps/index.js"></script>
}
<div class="row">
    <div class="col-xs-12">
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked> Tất cả
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Xe cũ
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Xe mới
        </label>

    </div>
    <div class="col-xs-12">
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Xe nhập khẩu
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Xe trong nước
        </label>
    </div>
</div>

@*Content*@
<div class="row">
    <div class="col-xs-12 car-item pull-left">
        <div class="left-container pull-left">
            <img class="img-responsive" src="~/Images/Cars_2046_1163/1.jpg" />
        </div>
        <div class="right-container pull-left">
            <span class="car-type">Xe đã sử dụng (2015)</span> <br />
            <span class="car-brand">Toyota - Camry</span> <br />
            <span class="label label-success">362 Triệu</span>
            <span class="label label-default">Hà Nội</span>
        </div>
    </div>


    @*Item test*@
    <div class="col-xs-12 car-item pull-left">
        <div class="left-container pull-left">
            <img class="img-responsive" @*src="~/Images/Cars_2046_1163/1.jpg"*@ data-original="../Images/Cars_2046_1163/1.jpg" />
        </div>
        <div class="right-container pull-left">
            <span class="car-type">Xe đã sử dụng (2016)</span> <br />
            <span class="car-brand">Toyota - Vios</span> <br />
            <span class="label label-success">362 Triệu</span>
            <span class="label label-default">Hà Nội</span>
        </div>
    </div>
    <div class="col-xs-12 car-item pull-left">
        <div class="left-container pull-left">
            <img class="img-responsive" @*src="~/Images/Cars_2046_1163/1.jpg"*@ data-original="../Images/Cars_2046_1163/1.jpg" />
        </div>
        <div class="right-container pull-left">
            <span class="car-type">Xe đã sử dụng</span> <br />
            <span class="car-brand">Toyota</span> <br />
            <span class="label label-success">362 Triệu</span>
            <span class="label label-default">Hà Nội</span>
        </div>
    </div>
    <div class="col-xs-12 car-item pull-left">
        <div class="left-container pull-left">
            <img class="img-responsive" @*src="~/Images/Cars_2046_1163/1.jpg"*@ data-original="../Images/Cars_2046_1163/1.jpg" />
        </div>
        <div class="right-container pull-left">
            <span class="car-type">Xe đã sử dụng</span> <br />
            <span class="car-brand">Toyota</span> <br />
            <span class="label label-success">362 Triệu</span>
            <span class="label label-default">Hà Nội</span>
        </div>
    </div>
    <div class="col-xs-12 car-item pull-left">
        <div class="left-container pull-left">
            <img class="img-responsive" @*src="~/Images/Cars_2046_1163/1.jpg"*@ data-original="../Images/Cars_2046_1163/1.jpg" />
        </div>
        <div class="right-container pull-left">
            <span class="car-type">Xe đã sử dụng</span> <br />
            <span class="car-brand">Toyota</span> <br />
            <span class="label label-success">362 Triệu</span>
            <span class="label label-default">Hà Nội</span>
        </div>
    </div>
    <div class="col-xs-12 car-item pull-left">
        <div class="left-container pull-left">
            <img class="img-responsive" @*src="~/Images/Cars_2046_1163/1.jpg"*@ data-original="../Images/Cars_2046_1163/1.jpg" />
        </div>
        <div class="right-container pull-left">
            <span class="car-type">Xe đã sử dụng</span> <br />
            <span class="car-brand">Toyota</span> <br />
            <span class="label label-success">362 Triệu</span>
            <span class="label label-default">Hà Nội</span>
        </div>
    </div>

        @{Random rd = new Random(); }
    @for (int i = 0; i < 100; i++)
    {
        int imgNo = rd.Next(1, 14);
        <div class="col-xs-12 car-item pull-left">
            <div class="left-container pull-left">
                <img class="img-responsive" @*src="~/Images/Cars_2046_1163/1.jpg?v=@i"*@ data-original="http://xegiadinhviet.com/Images/Cars_2089_1227/@(imgNo).jpg?v=@i" />
            </div>
            <div class="right-container pull-left">
                <span class="car-type">Xe đã sử dụng</span> <br />
                <span class="car-brand">Toyota @(i + 1)</span> <br />
                <span class="label label-success">362 Triệu</span>
                <span class="label label-default">Hà Nội</span>
            </div>
        </div>
    }
</div>