
@{
    ViewBag.Title = "News";
}

@section Css{

}

@section Scripts{

}

<div class="row">
    <div class="col-xs-12 news-item pull-left">
        <div class="left-container pull-left">
            <img class="img-responsive" src="~/Images/Cars_2046_1163/1.jpg" />
        </div>
        <div class="right-container pull-left">
            <span class="car-brand">Toyota</span> <br />
            <span class="car-type">Tin tức</span> <br />
        </div>
    </div>


    @*Item test*@
</div>

