.title {
    color: #1260ab;
    font-size: 15px;
    font-weight: bold;
}



.car-item{
    border: 1px solid #b7b7b7;
    /*margin: 0 5px 0 5px;*/
    margin-top: 10px;
    padding: 5px 0 5px 5px;
}

.car-item .left-container{
    width: 50%;
    margin-right: 5px;
}

.car-item .right-container{
    width: 45%;
}

.car-brand{
    color: #1260ab;
    font-weight:bold;
    font-size: 1.2em;
}

.car-type{
    color: #bdac23;
    font-size: .8em;
}

.title-page {
    font-family: 'OswaldVNF',Tahoma;
    color: #1260ab;
}

.title-des {
    font-style: italic;
    color: #1260ab;
}

hr {
    background-color: #1260ab;
    height: 1px;
    margin: 0;
}